/* Add this to your index.css or import in Testimonials.js */
/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-bottom: 4px solid blue;
}

table {
  td,
  th {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
nav{
  color: black;
}
